html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

#main-wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    width: auto;
}

@media (min-width: 800px) {
    #main-wrapper {
        width: 800px;
    }
}

.operation {
    text-align: center;
}

img.small {
    height: 2em;
}
